Node-Red/flow7.json
[
    {
        "id": "06c3d88d70a1ad95",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26ffa3afb1a190b2",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /products/remessas",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/products/1/shipments",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "24bd308fa619c8b7"
            ]
        ]
    },
    {
        "id": "8564296862fbbaf7",
        "type": "comment",
        "z": "06c3d88d70a1ad95",
        "name": "PROD_FISICO",
        "info": "PROD_FISICO",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "dec7b913931f2be0",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /agents/commissions",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/agents/1/commissions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "1f1198e2951478e5"
            ]
        ]
    },
    {
        "id": "edd15e8c1f22fdd4",
        "type": "link out",
        "z": "06c3d88d70a1ad95",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 120,
        "wires": []
    },
    {
        "id": "14df6896e8aa2e18",
        "type": "link in",
        "z": "06c3d88d70a1ad95",
        "name": "PROD_FISICO",
        "links": [],
        "x": 55,
        "y": 140,
        "wires": [
            [
                "26ffa3afb1a190b2",
                "8a4ecb07619d12ef"
            ]
        ]
    },
    {
        "id": "14e527a480f2d9c5",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /products/shipments",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/products/2/shipments",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 300,
        "wires": [
            [
                "b3e84b1c427a6a1a"
            ]
        ]
    },
    {
        "id": "055eecfe089b23ea",
        "type": "comment",
        "z": "06c3d88d70a1ad95",
        "name": "LIVRO",
        "info": "PROD_FISICO",
        "x": 90,
        "y": 260,
        "wires": []
    },
    {
        "id": "39646edbf4147f66",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /agents/commissions",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/agents/2/commissions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "eb9e029de0341556"
            ]
        ]
    },
    {
        "id": "9b53ccc5b6470b30",
        "type": "link out",
        "z": "06c3d88d70a1ad95",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 765,
        "y": 240,
        "wires": []
    },
    {
        "id": "41c07f735081fe5b",
        "type": "link in",
        "z": "06c3d88d70a1ad95",
        "name": "LIVRO",
        "links": [],
        "x": 55,
        "y": 300,
        "wires": [
            [
                "14e527a480f2d9c5",
                "da0c4f632671e056",
                "251a19a6ac6de529"
            ]
        ]
    },
    {
        "id": "18e3cd4e01f804e2",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /products/shipments/duplicate",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/products/2/shipments/2/duplicate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "d983e568043378f6"
            ]
        ]
    },
    {
        "id": "bd1c6247248cb266",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /members",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/memberships/3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 220,
        "y": 560,
        "wires": [
            [
                "6c67156fe146dd19",
                "e6ed524380b594d1"
            ]
        ]
    },
    {
        "id": "0638a0fc1b6eb703",
        "type": "comment",
        "z": "06c3d88d70a1ad95",
        "name": "ASSOCIACAO_MEMBRO",
        "info": "PROD_FISICO",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "f4e30306922b9b02",
        "type": "link out",
        "z": "06c3d88d70a1ad95",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 745,
        "y": 540,
        "wires": []
    },
    {
        "id": "bf5e540815f135b6",
        "type": "link in",
        "z": "06c3d88d70a1ad95",
        "name": "ASSOCIACAO_MEMBRO",
        "links": [],
        "x": 55,
        "y": 560,
        "wires": [
            [
                "bd1c6247248cb266",
                "e6185f3aef879b3f"
            ]
        ]
    },
    {
        "id": "cf10cd61498ab88b",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "POST /members",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/memberships/4",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 740,
        "wires": [
            [
                "92985ec0489f6b71"
            ]
        ]
    },
    {
        "id": "0b5d2b51f3e20a16",
        "type": "comment",
        "z": "06c3d88d70a1ad95",
        "name": "UPGRADE_ASSOCIACAO_MEMBRO",
        "info": "PROD_FISICO",
        "x": 190,
        "y": 680,
        "wires": []
    },
    {
        "id": "777a1dad07ec73b3",
        "type": "link out",
        "z": "06c3d88d70a1ad95",
        "name": "link out 6",
        "mode": "return",
        "links": [],
        "x": 755,
        "y": 700,
        "wires": []
    },
    {
        "id": "47eb359dba7396ea",
        "type": "link in",
        "z": "06c3d88d70a1ad95",
        "name": "UPGRADE_ASSOCIACAO_MEMBRO",
        "links": [],
        "x": 55,
        "y": 740,
        "wires": [
            [
                "cf10cd61498ab88b",
                "3174fa9da4825b8e"
            ]
        ]
    },
    {
        "id": "cb687f40e0190f20",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /videos (aprender_esquiar)",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/videos/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 920,
        "wires": [
            [
                "f261b9946611510a"
            ]
        ]
    },
    {
        "id": "577bc70d49d66e06",
        "type": "comment",
        "z": "06c3d88d70a1ad95",
        "name": "VIDEO_APRENDER_ESQUIAR",
        "info": "PROD_FISICO",
        "x": 170,
        "y": 860,
        "wires": []
    },
    {
        "id": "ccdb0637c94711d4",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /videos (primeiros_socorros)",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/videos/6",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "d80738f83940c30d"
            ]
        ]
    },
    {
        "id": "9981566ec54e7a71",
        "type": "link out",
        "z": "06c3d88d70a1ad95",
        "name": "link out 7",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 920,
        "wires": []
    },
    {
        "id": "03a525ab8c2fa600",
        "type": "link in",
        "z": "06c3d88d70a1ad95",
        "name": "VIDEO_APRENDER_ESQUIAR",
        "links": [],
        "x": 55,
        "y": 920,
        "wires": [
            [
                "cb687f40e0190f20",
                "80343d9c07571eae"
            ]
        ]
    },
    {
        "id": "b8f59be73e71f2cd",
        "type": "comment",
        "z": "06c3d88d70a1ad95",
        "name": "SEND_EMAIL_AND_NOTIFICATION",
        "info": "PROD_FISICO",
        "x": 190,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8d969ed134473fa9",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /users/email",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/users/6/email",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "8b3b2cec36022fd3",
                "03f1a841b680c358"
            ]
        ]
    },
    {
        "id": "270e492a2e94fa26",
        "type": "link out",
        "z": "06c3d88d70a1ad95",
        "name": "link out 8",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a7ec395c85f6c893",
        "type": "link in",
        "z": "06c3d88d70a1ad95",
        "name": "SEND_EMAIL_AND_NOTIFICATION",
        "links": [],
        "x": 55,
        "y": 1140,
        "wires": [
            [
                "8d969ed134473fa9",
                "e0fc6a3558f02afc"
            ]
        ]
    },
    {
        "id": "d6a9eecc68d3451c",
        "type": "http request",
        "z": "06c3d88d70a1ad95",
        "name": "PUT /users/notification",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/users/6/notification",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 1180,
        "wires": [
            [
                "603c27d49b3fe9e5",
                "80c4fb070428635c"
            ]
        ]
    },
    {
        "id": "a1f9ef592410112d",
        "type": "link call",
        "z": "06c3d88d70a1ad95",
        "name": "SEND EMAIL & NOTIFICATION",
        "links": [
            "a7ec395c85f6c893"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 780,
        "wires": [
            [
                "f5f97eae3b780751"
            ]
        ]
    },
    {
        "id": "a1b6db0587464a97",
        "type": "link in",
        "z": "06c3d88d70a1ad95",
        "name": "OTHER",
        "links": [],
        "x": 105,
        "y": 1320,
        "wires": [
            [
                "5dcad53eb5057bfd"
            ]
        ]
    },
    {
        "id": "8fb225ccc8e193b1",
        "type": "debug",
        "z": "06c3d88d70a1ad95",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5dcad53eb5057bfd",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "other",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1320,
        "wires": [
            [
                "8fb225ccc8e193b1"
            ]
        ]
    },
    {
        "id": "032397d9e59fe8c9",
        "type": "link call",
        "z": "06c3d88d70a1ad95",
        "name": "SEND_EMAIL_AND_NOTIFICATION",
        "links": [
            "a7ec395c85f6c893"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 600,
        "wires": [
            [
                "69c490ff58d4e502"
            ]
        ]
    },
    {
        "id": "6087625567e4ef74",
        "type": "join",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "edd15e8c1f22fdd4"
            ]
        ]
    },
    {
        "id": "1f1198e2951478e5",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "6087625567e4ef74"
            ]
        ]
    },
    {
        "id": "24bd308fa619c8b7",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "6087625567e4ef74"
            ]
        ]
    },
    {
        "id": "8a4ecb07619d12ef",
        "type": "delay",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "dec7b913931f2be0"
            ]
        ]
    },
    {
        "id": "da0c4f632671e056",
        "type": "delay",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "18e3cd4e01f804e2"
            ]
        ]
    },
    {
        "id": "251a19a6ac6de529",
        "type": "delay",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "39646edbf4147f66"
            ]
        ]
    },
    {
        "id": "b3e84b1c427a6a1a",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "872f69023ac84a69"
            ]
        ]
    },
    {
        "id": "d983e568043378f6",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "872f69023ac84a69"
            ]
        ]
    },
    {
        "id": "eb9e029de0341556",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "872f69023ac84a69"
            ]
        ]
    },
    {
        "id": "872f69023ac84a69",
        "type": "join",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "9b53ccc5b6470b30"
            ]
        ]
    },
    {
        "id": "e6185f3aef879b3f",
        "type": "delay",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "032397d9e59fe8c9"
            ]
        ]
    },
    {
        "id": "28ad07a5b965fed5",
        "type": "join",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 540,
        "wires": [
            [
                "f4e30306922b9b02"
            ]
        ]
    },
    {
        "id": "6c67156fe146dd19",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "28ad07a5b965fed5"
            ]
        ]
    },
    {
        "id": "e0fc6a3558f02afc",
        "type": "delay",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 210,
        "y": 1180,
        "wires": [
            [
                "d6a9eecc68d3451c"
            ]
        ]
    },
    {
        "id": "8b3b2cec36022fd3",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "cf7d949d3d74eb4e"
            ]
        ]
    },
    {
        "id": "603c27d49b3fe9e5",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "cf7d949d3d74eb4e"
            ]
        ]
    },
    {
        "id": "cf7d949d3d74eb4e",
        "type": "join",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 1140,
        "wires": [
            [
                "270e492a2e94fa26"
            ]
        ]
    },
    {
        "id": "e6ed524380b594d1",
        "type": "debug",
        "z": "06c3d88d70a1ad95",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "03f1a841b680c358",
        "type": "debug",
        "z": "06c3d88d70a1ad95",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1100,
        "wires": []
    },
    {
        "id": "80c4fb070428635c",
        "type": "debug",
        "z": "06c3d88d70a1ad95",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1240,
        "wires": []
    },
    {
        "id": "69c490ff58d4e502",
        "type": "split",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 710,
        "y": 600,
        "wires": [
            [
                "28ad07a5b965fed5"
            ]
        ]
    },
    {
        "id": "3174fa9da4825b8e",
        "type": "delay",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 780,
        "wires": [
            [
                "a1f9ef592410112d"
            ]
        ]
    },
    {
        "id": "f5f97eae3b780751",
        "type": "split",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 780,
        "wires": [
            [
                "8fd7a6c887e6c572"
            ]
        ]
    },
    {
        "id": "92985ec0489f6b71",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "8fd7a6c887e6c572"
            ]
        ]
    },
    {
        "id": "8fd7a6c887e6c572",
        "type": "join",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 700,
        "wires": [
            [
                "777a1dad07ec73b3"
            ]
        ]
    },
    {
        "id": "80343d9c07571eae",
        "type": "delay",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "ccdb0637c94711d4"
            ]
        ]
    },
    {
        "id": "f261b9946611510a",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 920,
        "wires": [
            [
                "080a9df5d7d145d5"
            ]
        ]
    },
    {
        "id": "d80738f83940c30d",
        "type": "change",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "080a9df5d7d145d5"
            ]
        ]
    },
    {
        "id": "080a9df5d7d145d5",
        "type": "join",
        "z": "06c3d88d70a1ad95",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 920,
        "wires": [
            [
                "9981566ec54e7a71"
            ]
        ]
    }
]